.tic-tac-toe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin: 200px auto;
}
.tic-tac-toe > div {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  padding-top: 40%;
}