@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.tic-tac-toe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin: 200px auto;
}
.tic-tac-toe > div {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(
    to left bottom,
    #7eb7f0 0%,
    #1c8fb3 51%,
    #003973 100%
  );
  border: 2px solid rgb(2, 15, 41);
  text-align: center;
  padding-top: 10%;
}

.xpoint {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}
.opoint {
    font-family: 'Indie Flower', cursive;
    color: rgb(233, 157, 157);
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}

.btn-grad {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to right,
    #003973 0%,
    #71cde9  51%,
    #003973 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btnMusic {
  position: relative;
  top: 50px;
  left: 150px;
  width: 100px;
  height: 100px;
}

.btnPlay {
  background: url("./source/playImg.png") no-repeat;
  background-color: blue;
  cursor: pointer;
  border: none;
}

.btnPause {
  background: url("./source/pause.jpeg") no-repeat;
  cursor: pointer;
  border: none;
}
