.App {
  width: 100%;
}
.tic-tac-toe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin: 200px auto;
}
.tic-tac-toe > div {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  padding-top: 40%;
}

.btn-grad {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to right,
    #003973 0%,
    #e5e5be 51%,
    #003973 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
